@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  	--office-green: #157f1fff;
	--snow: #fffcffff;
	--bright-pink-crayola: #e85d75ff;
	--slate-gray: #718f94ff;
	--raisin-black: #1e1e24ff;
	--background-start-rgb: var(--raisin-black)
	--background-end-rgb: var(--slate-gray)
}

.body-background {
	color: var(--raisin-black);
}

::-webkit-scrollbar {
	width: 0.5rem;
}

::-webkit-scrollbar-track {
	background: var(--snow);
}

::-webkit-scrollbar-thumb {
	background: var(--office-green);
	height: 0.5rem;
	border-radius: 0.25rem;
}
